* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fullscreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.marco {
    height: 93vh;
    width: 95vw;
    border-radius: 20px;
    background-color: rgb(173, 173, 173);
}

.imgChar{
    height: 50vh;
    width: auto;
}

.panel{
    width: 35vw;
    height: 59vh;
}
.medio{
    width: 20vw;
    height: 59vh;
}
.panelb{
    width: 35vw;
    height: 18vh;
}
.mediob{
    width: 20vw;
    height: 18vh;
}
.tiendaui{
    width: 78vw;
    height: 58vh;
}
.tiendaHeader{
    width: 78vw;
}
.imgStore{
    width: 10vw;
    height: auto;
}
.card{
    width: 11vw !important;
}
.imgEquip{
    height: 100%;
    width: auto;
    gap: 16px !important;
}
.divImg{
    height: 8vh;
    width: auto;
}
.btnplus{
    background-color: chartreuse;
    transition: all;
}
.btnplus:hover{
    transform: scale(1.2);
}
.bg-img{
    background-image:url(../img/landscape.svg);
}
.facePer{
    height: 40vh;
    width: auto;
}
